#Data Types and Structures

1. What are data structures, and why are they important?
 - Data Structures are ways of oraganizing and storing data in a computer so that it can be accessed and modified efficiently.
 - They are important because they allow us to manage and manipulate data in a structured way.

2. Explain the difference between mutable and immutable data types with examples.
 - Mutable data types can be changed after they are created, it means u can modify without creating a new object. Example of Mutable data type : List
 - Immutable data types cannot be changed after they are created. If needed to modify u need to create a new object. Example of immutable data types: tuple,string.

3. What are the main differences between lists and tuples in Python?
 - Mutability:
    Lists are Mutable while tuples are immutable.

4. Describe how dictionaries store data?
 - Dictionary stores data in a key-value pair.

5. Why might you use a set instead of a list in Python?
 - to store a collection of unique elements.
 - to perform mathematical set operations.
 - to check for the presence of an element quickly.

6. What is a string in Python, and how is it different from a list?
 - A string in Python is a sequence of characters. It is an immutable data type.
 - string differs from a list:
    Data type, Mutability , Operations.

7. How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity in Python primarily through their immutability. Because the elements within a tuple cannot be changed, added, or removed after the tuple is created, you can be confident that the data you put into a tuple will remain exactly as it is for the lifetime of that tuple object.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that implements an associative array abstract data type. It's a way of storing data in key-value pairs, allowing for very fast lookups, insertions, and deletions.

 - Python dictionaries are implemented using hash tables. When you create a dictionary and add key-value pairs, Python uses a sophisticated hash table implementation under the hood.

9. Can lists contain different data types in Python?
 - Yes List can contain different data types in Python. It is heterogenous data type.

10. Explain why strings are immutable in Python?
 - Performance and Efficiency,Thread Safety,Predictability are the reasons why strings are immuatable

11. What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries offer significant advantages over lists for certain tasks, primarily due to their key-value structure and underlying implementation (hash tables). Here are some key advantages:
  - Fast Lookups, Associative Storage, Efficient Insertion and Deletion,etc.

12. Describe a scenario where using a tuple would be preferable over a list.
 - A scenario where using a tuple would be preferable over a list is when you need to represent a collection of items that should not change throughout the program's execution, and these items are inherently related as a single entity.

13. How do sets handle duplicate values in Python?
 - Sets in Python are designed to store unique elements. This is their fundamental characteristic. When you add elements to a set, or when you create a set from an iterable that contains duplicates, the set automatically discards any duplicate value

14. How does the “in” keyword work differently for lists and dictionaries?
 - For lists, in checks if a value exists by iterating through the elements (linear search).
 - For dictionaries, in checks if a key exists by using the hash table (fast lookup).

15. Can you modify the elements of a tuple? Explain why or why not?
 - No we cannot modify elements of a tuple as tuples are immutable data types that means there values cannot be changed after creating the object.

16.  What is a nested dictionary, and give an example of its use case?
 -  A nested dictionary in Python is a dictionary where the value associated with a key is another dictionary. This allows you to create hierarchical data structures, representing relationships and organizing data in a more complex way than a simple key-value pair.

 - Think of it as a dictionary within a dictionary. The outer dictionary has keys, and the values corresponding to those keys are themselves dictionaries, which in turn have their own keys and values.

17.  Describe the time complexity of accessing elements in a dictionary.
 -  The time complexity of accessing elements in a dictionary in Python is, on average, O(1) (constant time).

18. In what situations are lists preferred over dictionaries?
 - When you need an ordered collection,When you need to access elements by their position (index),When you need to store a collection of items without unique identifiers are the cases where lists are preferred over dictionaries.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - dictionaries were considered unordered. This meant that the order in which you inserted key-value pairs into the dictionary was not guaranteed to be the order in which they would be retrieved when iterating over the dictionary.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - The main difference between lists and dictionaries in terms of data retrieval lies in how you identify and access the data you want

In [1]:
#1. Write a code to create a string with your name and print it.
s1=input("Enter a Name: ")
print(s1)

Enter a Name: Hyper
Hyper

In [2]:
#2. Write a code to find the length of the string "Hello World".
s1="Hello World"
print(len(s1))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
s1="Python Programming"
print(s1[0:3])

Pyt

In [16]:
#4. Write a code to convert the string "hello" to uppercase.
s1="hello"
s1=s1.upper()
print(s1)

HELLO

In [15]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
s1="I like apple"
s1=s1.replace("apple","orange")
print(s1)

I like orange

In [14]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
L1=[]
for i in range(1,6):
  L1.append(i)
print(L1)

[1, 2, 3, 4, 5]

In [13]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
L1=[1,2,3,4]
L1.append(10)
print(L1)

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
L1=[1,2,3,4,5]
L1.remove(3)
print(L1)

[1, 2, 4, 5]

In [11]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
L1=['a','b','c','d']
print(L1[1])

b

In [10]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
L1=[10,20,30,40,50]
for x in range(len(L1)//2):
  L1[x],L1[len(L1)-x-1]=L1[len(L1)-x-1],L1[x]
print(L1)

[50, 40, 30, 20, 10]

In [ ]:
#11  Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1=(100,200,300)
print(t1)

In [ ]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t1=('red','green','blue','yellow')
print(t1[-2])

In [ ]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t1=(10,20,5,15)
print(min(t1))

In [ ]:
#14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t1=('dog','cat','rabbit')
print(t1.index('cat'))

In [ ]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t1=('apple','banana','kiwi')
print('kiwi' in t1)

In [ ]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s1={'a','b','c'}
print(s1)

In [ ]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s1={1,2,3,4,5}
s1.clear()
print(s1)

In [ ]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s1={1,2,3,4}
s1.remove(4)
print(s1)

In [1]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [2]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1={1,2,3}
s2={2,3,4}
print(s1.intersection(s2))

{2, 3}

In [ ]:
#21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d1={'name':'John','age':25,'city':'New York'}
print(d1)

In [ ]:
#22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d1={'name':'John','age':25}
d1['country']='USA'
print(d1)

In [ ]:
#23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d1={'name':'Alice','age':30}
print(d1['name'])

In [ ]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d1={'name':'Bob','age':22,'city':'New York'}
del d1['age']
print(d1)

In [ ]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d1={'name':'Alice','city':'Paris'}
if 'city' in d1:
  print("City exists")

In [ ]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.
l1=[1,2,3,4]
t1=(1,2,3,4)
d1={'name':'John','age':25}
print(l1)
print(t1)
print(d1)

In [3]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
L1=[]
for i in range(5):
  L1.append(random.randint(1,100))
L1.sort()
print(L1)

[41, 55, 64, 74, 91]

In [ ]:
#28 Write a code to create a list with strings and print the element at the third index
L1=['apple','banana','orange','kiwi','mango']
print(L1[3])

In [4]:
#29 Write a code to combine two dictionaries into one and print the result.
d1={'name':'John','age':25}
d2={'city':'New York','country':'USA'}
d1.update(d2)
print(d1)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [ ]:
#30 Write a code to convert a list of strings into a set.
l1=['a','b','c','d']
l1=set(l1)
print(l1)